@import "tailwindcss";

@font-face {
  font-family: 'Yellowtail';
  src: url('./assets/fonts/Yellowtail-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allan';
  src: url('./assets/fonts/Allan-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/RubikPuddles-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Yellowtail font utility classes */
.font-yellowtail {
  font-family: 'Yellowtail', cursive;
}
.font-Allan {
  font-family: 'Allan', cursive;
}
.font-Rubik {
  font-family: 'Rubik', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Light theme by default */
  color-scheme: light;
  color: #213547;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */ 
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Smooth scrolling for all elements */
* {
  scroll-behavior: smooth;
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom animation for slider pause on hover */
.slider-container:hover .slider-track {
  animation-play-state: paused;
}

/* .clip-shape {
  clip-path: polygon(0 0, 85% 0, 100% 20%, 100% 100%, 15% 100%, 0 80%);
  border-radius: 16px;
} */
